@using InfoTerraTerra.AspNetCore
@using InfoTerraTerra.Models.Admin
@model InfoTerraTerra.Models.Admin.AdminViewModel
@{
    ViewData["Title"] = "Amministrazione";
}

<article>

    <section class="bg-admin">
        <div class="text-align-center">
            <span>@ViewData["Title"]</span>
            <span>/</span>
            <span>👋🏻 @User.GetLoggedUserName()</span>
        </div>
    </section>

    <div class="admin-counters-container">

        @foreach (var counter in Model.NewsletterIscrittiStatistics.Counters)
        {
            var counterModel = new CounterModel() { Counter = counter };
            <partial name="PartialCounter" model="@counterModel"/>
        }

        @if (Model.NewsletterIscrittiStatistics.AllNewsletterEmail.Any())
        {
            <div class="counter-container">
                <div class="counter-label">
                    Indirizzi email iscritti alla newsletter
                </div>

                <div class="newsletter-email-container">
                    <ol>
                        @foreach (var email in Model.NewsletterIscrittiStatistics.AllNewsletterEmail)
                        {
                            <li>@email</li>
                        }
                    </ol>
                </div>
            </div>
        }

        @foreach (var counter in Model.TrackingQrOpenStatistics.GlobalCounters)
        {
            var counterModel = new CounterModel() { Counter = counter };
            <partial name="PartialCounter" model="@counterModel"/>
        }

        @foreach (var volantino in Model.TrackingQrOpenStatistics.SingleVolantinoStatistics)
        {
            <div class="volantino-stat-container">

                <span class="stat-titolo-volantino">
                    Statistiche volantino "@volantino.TitoloVolantino"
                </span>

                <div class="volantino-counters-container">
                    @foreach (var counter in volantino.Counters)
                    {
                        var counterModel = new CounterModel() { Counter = counter };
                        <partial name="PartialCounter" model="@counterModel"/>
                    }

                    @if (volantino.PerCitta.Any())
                    {
                        <div class="counter-container">
                            <div class="counter-category">Per città</div>
                            <div class="flex-row-wrap">
                                @foreach (var counter in volantino.PerCitta)
                                {
                                    <partial name="PartialSubCounter" model="@counter"/>
                                }
                            </div>
                        </div>
                    }

                    @if (volantino.PerVia.Any())
                    {
                        <div class="counter-container">
                            <div class="counter-category">Per via</div>
                            <div class="flex-row-wrap">
                                @foreach (var counter in volantino.PerVia)
                                {
                                    <partial name="PartialSubCounter" model="@counter"/>
                                }
                            </div>
                        </div>
                    }

                    @if (volantino.PerLuogo.Any())
                    {
                        <div class="counter-container">
                            <div class="counter-category">Per luogo</div>
                            <div class="flex-row-wrap">
                                @foreach (var counter in volantino.PerLuogo)
                                {
                                    <partial name="PartialSubCounter" model="@counter"/>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        }

    </div>


</article>