@using InfoTerraTerra.AspNetCore
@model InfoTerraTerra.Models.Admin.AdminViewModel
@{
    ViewData["Title"] = "Amministrazione";
}

<article>

    <section class="bg-admin">
        <div class="section-content">
            <h1>@ViewData["Title"]</h1>
            <h2>👋🏻 @User.GetLoggedUserName()</h2>
        </div>
    </section>

    <section class="bg-alt">
        <div class="section-content border-admin">
            <h3 class="reset-width">
                <strong>Iscritti alla newsletter</strong>
            </h3>

            @foreach (var counter in Model.NewsletterIscrittiStatistics.Counters)
            {
                <partial name="PartialCounter" model="@counter"/>
            }

            @if (Model.NewsletterIscrittiStatistics.AllNewsletterEmail.Length > 0)
            {
                <div class="counter-container">
                    <div class="counter-label">
                        Indirizzi email
                    </div>

                    <div class="newsletter-email-container flex1">
                        <ol>
                            @foreach (var email in Model.NewsletterIscrittiStatistics.AllNewsletterEmail)
                            {
                                <li>@email</li>
                            }
                        </ol>
                    </div>
                </div>
            }

        </div>
    </section>

    <section class="bg-alt">
        <div class="section-content border-admin">
            <h3 class="reset-width">
                <strong>Statistiche volantini</strong>
            </h3>

            @foreach (var counter in Model.TrackingQrOpenStatistics.GlobalCounters)
            {
                <partial name="PartialCounter" model="@counter"/>
            }

            @foreach (var volantino in Model.TrackingQrOpenStatistics.SingleVolantinoStatistics)
            {
                <div class="volantino-stat-container">
                    <span class="stat-titolo-volantino">
                        @volantino.TitoloVolantino
                    </span>

                    @foreach (var counter in volantino.Counters)
                    {
                        <partial name="PartialCounter" model="@counter"/>
                    }

                    @if (volantino.PerCitta.Any())
                    {
                        <div class="volantino-stat-subcontainer">
                            <span class="volantino-stat-subcontainer-title">Per città</span>
                            @foreach (var counter in volantino.PerCitta)
                            {
                                <partial name="PartialCounter" model="@counter"/>
                            }
                        </div>
                    }

                    @if (volantino.PerVia.Any())
                    {
                        <div class="volantino-stat-subcontainer">
                            <span class="volantino-stat-subcontainer-title">Per via</span>
                            @foreach (var counter in volantino.PerVia)
                            {
                                <partial name="PartialCounter" model="@counter"/>
                            }
                        </div>
                    }

                    @if (volantino.PerLuogo.Any())
                    {
                        <div class="volantino-stat-subcontainer">
                            <span class="volantino-stat-subcontainer-title">Per luogo</span>
                            @foreach (var counter in volantino.PerLuogo)
                            {
                                <partial name="PartialCounter" model="@counter"/>
                            }
                        </div>
                    }

                </div>
            }
        </div>
    </section>


</article>