@using InfoTerraTerra.Data
@{
    ViewData["Title"] = "Home Page";
    ViewData["MetaDescription"] = "Info Terra Terra è un sito dedicato a fornire informazioni sulle questioni ambientali più urgenti. Scopri come puoi fare la differenza e aiutarci a creare un mondo migliore per tutti.";
}

<section>
    <div class="section-content">
        <h3>La <strong>conoscenza</strong> è il primo passo per il <strong>cambiamento</strong></h3>
        <p>
            Benvenuto su @Constants.SiteTitle!
        </p>

        <p>
            La nostra <strong>missione</strong> è fornire informazioni accurate e aggiornate sulle questioni ambientali più urgenti,
            perché crediamo che la conoscenza sia il primo passo per il cambiamento.
        </p>

        <p>
            Attraverso i nostri volantini, i nostri articoli e le nostre iniziative, 
            speriamo di <strong>ispirare</strong> azioni concrete 
            e di sensibilizzare sempre più persone sulla necessità 
            di proteggere il nostro pianeta per le generazioni future.
        </p>

        <a class="action-button" href="/manifesto">Scopri di più</a>
    </div>
</section>

<section class="section-alt">
    <div class="section-content">
        <h3>Gli ultimi <strong>volantini</strong></h3>

        @foreach (var volantino in Voltantini.All.Take(3).OrderByDescending(v => v.Date))
        {
            <span>@volantino.Title</span>
            <span>@volantino.Date</span>
            <p>@volantino.Description</p>
            <a class="action-button action-button-secondary" href="@volantino.PageUrl">Leggi di più</a>
        }

        <a class="action-button" href="/volantini">Guarda tutti i volantini</a>
    </div>
</section>

<section>
    <div class="section-content">
        <h3><strong>Aiutaci</strong></h3>

        <p>
            Siamo una piccola organizzazione con grandi idee per rendere il mondo un posto migliore.
        </p>

        <p>
            Ma per farlo, <strong>abbiamo bisogno del tuo aiuto!</strong>
            Ci sono molte cose che puoi fare per sostenerci:
        </p>

        <ul>
            <li><strong>Stampare</strong> i nostri volantini e <strong>distribuirli</strong> nella tua comunità</li>
            <li><strong>Condividere</strong> le nostre iniziative</li>
            <li>Lasciarci la tua email per ricevere aggiornamenti sulle nostre attività</li>
        </ul>

        <p>
            <strong>Ogni piccola azione può fare la differenza</strong>: unisciti a noi per creare un futuro sostenibile per tutti!
        </p>

    </div>
</section>

<section class="section-cta">
    <div class="section-content">
        <h3>Rimaniamo in <strong>contatto</strong></h3>

        <p>
            Se vuoi rimanere aggiornato sulle nostre attività e sulle ultime notizie riguardanti l'ambiente,
            lascia la tua email qui sotto.
        </p>

        <p>
            Ti terremo informato su come puoi aiutarci a diffondere la nostra missione e a fare la differenza nel mondo.
        </p>

        <p>
            Insieme possiamo creare un futuro sostenibile per tutti, ma dobbiamo farlo insieme. Non perdere l'occasione di unirti alla nostra comunità!
        </p>

        <a class="action-button" href="/newsletter">Iscriviti alla newsletter</a>
    </div>
</section>