@using InfoTerraTerra.Data
@using InfoTerraTerra.AspNetCore
@{
    string GetActiveClassForLink(string slug)
        => Context.IsCurrentRoute(slug)
            ? "text-link-active"
            : "";

    string GetActionButtonClassForLink(string slug)
        => Context.IsCurrentRoute(slug)
            ? "action-button action-button-active"
            : "action-button";
}

<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8"/>
    <!-- MAKE IT RESPONSIVE, YEAH! -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- SEO -->
    @{ var metaTitle = $"{ViewData["Title"]} - {Constants.SiteTitle}"; }
    <title>@metaTitle</title>
    <meta name="description" content="@ViewData["MetaDescription"]"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="@metaTitle"/>
    <meta property="og:description" content="@ViewData["MetaDescription"]"/>
    <meta property="og:site_name" content="@Constants.SiteTitle"/>
    <meta property="og:locale" content="it_IT"/>
    
    @{
        var ogImage = ViewData["OgImage"] as string;
        if (string.IsNullOrWhiteSpace(ogImage))
        {
            ogImage = "info-terra-terra-og.jpg";
        }
    }
    <meta property="og:image" content="@Constants.SiteUrl/@ogImage"/>

    <link rel="canonical" href="@Constants.SiteUrl/image/@Context.Request.Path.Value?.Trim('/')"/>

    <!-- STYLES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#423b3b">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#423b3b">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#423b3b">
    
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true"/>

</head>

<body>

<header>

    <nav>
        <ul>

            <li>
                <a class="header-logo" href="/">
                    <img
                        asp-append-version="true"
                        src="~/images/info-terra-terra.png"
                        alt="Il logo di @Constants.SiteTitle"
                        height="50"/>
                    <partial name="PartialSiteTitle" />
                </a>
            </li>

            <li>
                <a class="text-link margin-horizontal-1rem @GetActiveClassForLink(Constants.ManifestoPageSlug)" href="@Constants.ManifestoPageSlug">Manifesto</a>
                <a class="text-link margin-horizontal-1rem @GetActiveClassForLink(Constants.AiutaciPageSlug)" href="@Constants.AiutaciPageSlug">Aiutaci</a>
                <a class="text-link margin-horizontal-1rem @GetActiveClassForLink(Constants.VolantiniPageSlug)" href="@Constants.VolantiniPageSlug">I volantini</a>
            </li>

            <li>
                <a class="@GetActionButtonClassForLink(Constants.NewsletterPageSlug)" href="@Constants.NewsletterPageSlug">✉️ Iscriviti alla newsletter</a>
            </li>

        </ul>
    </nav>

</header>

<main role="main">
    @RenderBody()
</main>

<footer>
    <p>&copy; 2023 - @Constants.SiteTitle - <a class="text-link @GetActiveClassForLink(Constants.PrivacyPageSlug)" href="@Constants.PrivacyPageSlug" title="Leggi l'informativa sulla privacy">Privacy</a> - <a class="text-link" href="mailto:@Constants.EmailAddress" title="Mandaci una mail!">Contattaci</a></p>
</footer>

<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)

</body>
</html>