@model InfoTerraTerra.Domain.Volantino

<div class="homepage-volantino-container">

    <div class="homepage-volantino-image-text-container">
        <img src="~/images/@Model.ImageName" alt="La foto del volatino @Model.Title"/>
        <div class="homepage-volantino-text-container">
            <span class="hashtag">@Model.HashTagsString</span>
            <span>@Model.Title</span>
            <span>@Model.FormattedDate</span>
            <p>@Model.Description</p>
            <a class="action-button-secondary" href="@Model.PageUrl">Leggi di più &rsaquo;</a>
        </div>
    </div>

</div>