@model InfoTerraTerra_Library.Volantini.Volantino

<div class="homepage-volantino-container">

    <div class="homepage-volantino-image-text-container">
        <img src="~/images/@Model.ImageNameFronte" alt="La foto del volatino @Model.Title"/>
        <div class="homepage-volantino-text-container">
            
            <div class="badge-container partial-volantino-badge-container">
                @foreach(var hashtag in Model.HashTags)
                {
                    <span class="text-less-important-badge">@hashtag</span>
                }
            </div>
            
            <div class="flex-vertical">
                <span class="partial-volantino-title">@Model.Title</span>
                <span class="partial-volantino-date">@Model.FormattedDate</span>
            </div>
            
            <p class="partial-volantino-description">@Model.Description…</p>
            <a class="action-button-secondary" href="@Model.PageUrl">Leggi di più &rsaquo;</a>
        </div>
    </div>

</div>